@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outlet {
    @apply flex flex-col text-slate-800 overflow-auto;
    min-height: calc(100vh - var(--navbar-height));
  }
}

:root {
  --navbar-height: 3.5rem;
}

* {
  -webkit-font-smoothing: antialiased;
}
